#calculator{
   margin-left: 40%;
   margin-top:10%;
   border: 1px solid rgb(92, 89, 89);
   border-radius: 5px;
   width: 200px;
}
#display{
   margin: 10px;
   width :85%;
}
.button-container
{
   
   display: flex;
   flex-wrap: wrap;
   justify-content: center;

}
.button{
   font-size: 25px;
   height: 45px;
   width:45px;
   margin:3px;
}